.Header{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    /* position: fixed;
    top:0; */ 
}
.wrapper{
    width: 960px;
    max-width: 100%;
    margin: 0 480px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
}
.logo{
    width: 20%;
    height: 100%;
    padding-left: 15px;
}
.logo img{
    width: 80%;
    height: 70%;
    
}
.input{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}
input {
    width: 40%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-color: rgba(241, 239, 239, 0.705);
  }
input:focus {
    text-align:left;
}
.action-icon{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 30%;
}
.action-icon  img{
    overflow: hidden;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.ant-dropdown-menu{
    width: 150px;
    border-radius: 7px;
}
.anticon-user{
    cursor: pointer;
}
